.logo {
  height: 32px;
  margin: 16px;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  text-align: center;
  color: white;
  position: relative;
}

.header {
  background: white;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

h1 {
  padding-top: 10px;
}